{% extends "inspector/_base.html" %}
{% block content %}
    <div class="container">
        <h1>Prospect List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Industry</th>
                    <th>Tags</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for prospect in prospects %}
                    <tr
                        onclick="window.location='{% url 'prospect_detail' prospect.id %}'"
                        class="table-cursor"
                    >
                        <td>
                            {{ prospect.name }}
                        </td>

                        <td>
                            {% if prospect.business.industry %}
                                {{ prospect.business.industry.name }}
                            {% else %}
                                —
                            {% endif %}
                        </td>

                        <td>
                            {% for tag in prospect.business.tags.all %}
                                <span class="tag">{{ tag.name }}</span>
                            {% empty %}
                                —
                            {% endfor %}
                        </td>

                        <td>
                            {{ prospect.status }}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No prospects yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
